/* Hides Scrollbar in Chrome */
::-webkit-scrollbar {
    display: none;
}
body {
    background-color: #ADD8E6;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    overflow-x: hidden;
    position: relative;
}
.main {
    margin-bottom: 20px;
}
/* Top Leader Board */
.tlb {
    margin-top: 120px;
    width: 728px;
    height: 90px;
    border: 1px solid #000000;
    background-color: #e8e8e8;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}
.tlb p {
    margin: 10px 20px;
    text-align: center;
    font-size: 12pt;
    padding-top: 25px;
}
.tlb p:nth-child(2) {
    font-size: 8pt;
    text-align: right;
    padding: 0;
    margin: 0;
}
.tlb-ad {
    margin-bottom: 10px;
}
/* MR1, MR2, MR3 */
.mr1,
.mr2,
.mr3 {
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    height: 250px;
    border: 1px solid #000;
    background-color: #e8e8e8;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
    text-align: center;
    font-size: 12pt;
}
.ad, .ad-move {
    text-align: right;
    font-size: 8pt;
}
.ad-move {
    width: 300px;
    position: absolute;
    margin-top: 25px;
}
.ad-move p {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* 1st Row */
.row-1 {
    position: absolute;
    z-index: -1;
    width: 100%;
}
.program-title {
    width: 750px;
    margin-top: 10px;
    text-align: center;
    background-color: #e8e8e8;
    border: 1px solid #000;
}
/* Videos */
.video-title,
.video-content {
    width: 300px;
    border: 1px solid #000;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
.video-title {
    background-color: #fff;
}
.video-content {
    height: 250px;
    background: #e8e8e8;
}
.video-content p {
    margin-top: 90px;
    font-size: 24px;
}
/* Footer */
footer {
    background-color: #333;
    color: #fff;
}
footer p {
    margin: 0;
    padding: 20px;
    text-align: center;
}
/*==========  Media Queries ==========*/
/*
Min-Width: Refers to everything greater than or equal to the amount given.
Max-Width: Refers to everything less than or equal to the amount given.*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .main {
        margin: 10%;
        width: 100%;
        height: 100%;
    }
    .row-1,
    .ad1,
    .ad2 {
        position: relative;
        z-index: 0;
    }
    .row2 {
        margin: 0;
    }
    .title {
        margin: 20px 40px 10px 0;
    }
    .ad {
        text-align: center;
    }
    .ad2,
    .ad3 {
        margin-top: 10px;
    }
    .vid-1,
    .vid-2,
    .vid-3,
    .vid-4 {
        margin-left: 10px;
    }
}
/* Small Devices, Tablets */
/* Laptop */

@media only screen and (min-width: 768px) {
    .ad1 {
        margin-left: 30px;
    }
    .ad2 {
        margin-top: 120px;
    }
    .ad {
        margin-right: 60px;
    }
   /* .ad-move {
        margin-right: 100px;
    }*/
    .vid-1,
    .vid-2 {
        margin-top: 30px;
    }
    .row-1 {
        position: absolute;
    }
    .row-2 {
        margin-top: 150px;
    }
}


/* Medium Devices, Desktops */
/* For Monitor */

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {

}
/* Portrait iPad */
@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
    #logo {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }
    .main {
        margin: 0 auto !important;
        width: 100% !important;
    }
    .title-row {
        position: relative !important;
        margin: 0 auto !important;
    }
     .program-title {
        margin: 0 auto !important;
        width: 100% !important;
        height: auto !important;
        margin-top: 50px !important;
    }


}
/* Landscape iPad */
@media screen and (min-width: 768px) and (max-width: 1024px),
(min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .center-header {
        margin: 0 auto;
        max-width: 768px;
    }
    .title-row {
        position: relative;
        margin-top: 10px;
        margin-left: 100px;
    }
    .program-title {
        width: 350px;
        height: 250px;
        text-align: center;
        background-color: #e8e8e8;
        border: 1px solid #000;
        margin-left: 20px;
    }
    .row-2 {
        position: relative;
        margin: 20px 0;
    }
    .row-3 {
        margin:25px 0;
    }
    .vid-1, .vid-2 {
        margin: 0;
    }

    .ad1 {
        margin-top: 10px;
    }

    .ad2 {
        margin-top: 10px;
    }
    .ad3 {
        margin-top: 10px;
    }
    .ad-move p {
        padding-right: 20px;
    }
    .ad {
        padding-left: 210px;
    }
}



