body {
    background-color: #ADD8E6;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
/* header */
#logo {
    /*width: 50%;*/
    height: auto;
}
/* header*/

.title {
    max-width: 750px;
    margin-top: 10px;
    text-align: center;
    background-color: #e8e8e8;
    border: 1px solid #000;
}

/* Ads */
.tlb {
    margin-top: 100px;
    width: 728px;
    height: 90px;
    border: 1px solid #000000;
    background-color: #e8e8e8;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.tlb p {
    margin: 0px 20px;
    text-align: center;
    font-size: 12pt;
    padding-top: 25px;
}

.tlb p:nth-child(2) {
    font-size: 8pt;
    text-align: right;
}
/* Title Row */
/*.row-1 {
    margin-top: 15%;
    top: 350px;
    left: 320px;
}*/

.row-1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    /*top: 20px;
    right: 84px;*/
}

.row-2 {
    margin-top: 150px;
}

/*.row-2 {
    margin-top: 60px;
}*/
.ad {
    text-align: right;
    font-size: 8pt;
    margin-right: 60px;
}
.ad-move {
    margin-right: 200px;
}
.mr1,
.mr2,
.mr3 {
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    height: 250px;
    border: 1px solid #000;
    background-color: #e8e8e8;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
    /*margin: 0 20px;*/
    text-align: center;
    font-size: 12pt;
}

/* Ads*/
/* Videos */

.video-title,
.video-content {
    width: 275px;
    border: 1px solid #000;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.video-title {
    background-color: #fff;
}

.video-content {
    height: 250px;
    background: #e8e8e8;
}

.video-content p {
    margin-top: 90px;
    font-size: 24px;
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .main {
        margin: 10%;
        width: 100%;
        height: auto;
    }

    .ad1 {
        /*margin: 120px 20px 20px 0;*/
        /*padding-left: 15px;*/
        /*width: 100%;*/
    }
    /*.row-1 {
        position: absolute;
    }
*/
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 767px) {

}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {

    /*.ad1 {
        margin-left: 336px;
        width: 100%;
        top: 0;
        right: 0;
        position: relative;
    }*/
   /* .row-1 {
        position: absolute;
    }*/
    .ad2 {
    margin-top: 120px;
}

}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {


}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {



}


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/* Media Queries */
